@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

/*		GENERAL		*/

body {
	background-color: black;
}

* {
	font-family: 'Cascadia Code', sans-serif;
	color: white;
}

p {
	color: white;
}

/*		NAVIGATION BAR		*/

#main {
	margin-bottom: 50px;
}

.sidenav {
	font-family: 'Cascadia Code', sans-serif;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

		.sidenav a:hover {
			color: #41FF00;
		}

	.sidenav {
		position: absolute;
		top: 0;
		right: 10px;
		font-size: 36px;
		margin-left: 0px;
	}

div.body {
	display: block;
	transition: margin-left .5s;
	padding: 16px;
}


#navtoggle {
	color: #818181;
	font-size: 42px;
	cursor: pointer;
}

	#navtoggle:hover {
		color: #41FF00;
	}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

		.sidenav a {
			font-size: 18px;
		}
}

/*		MAIN PAGE		*/

#main2 {
	display: flex;
	justify-content: center;
	position: relative;
	height: 100%;
}

.circleBig {
	height: 500px;
	width: 500px;
	background-color: black;
	border-radius: 50%;
	border: dashed 5px;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: 10%;
}

.circleSmall {
	height: 200px;
	width: 200px;
	background-color: white;
	border-radius: 50%;
	display: block;
	position: absolute;
}

	.circleSmall:hover {
		background-color: #41FF00;
	}

#circle1 {
	margin-left: 80%; /*3:00 Position*/
	margin-top: 150px;
	transform-origin: -75% center;
	animation: circle 40s infinite linear;
}

#circle2 {
	margin-left: 30%; /*6:00 Position*/
	margin-top: 400px;
	transform-origin: 50% -75%;
	animation: circle 40s infinite linear;
}

#circle3 {
	margin-left: -20%; /*9:00 Position*/
	margin-top: 150px;
	transform-origin: 175% center;
	animation: circle 40s infinite linear;
}

#circle4 {
	margin-left: 30%; /*12:00 Position*/
	margin-top: -100px;
	transform-origin: 50% 175%;
	animation: circle 40s infinite linear;
}

@keyframes circle {
	to {transform: rotate(1turn);}
}

@keyframes wordCircle {
	to {
		transform: rotate(-1turn);
	}
}

p.circleWord {
	color: black;
	font-size: 30px;
	position: absolute;
	transform-origin: center;
	animation: wordCircle 40s infinite linear;
}

#circleProj {
	margin-left: 15%;
	margin-top: 40%;
}

#circleExp {
	margin-left: 6%;
	margin-top: 40%;
}

#circleEdu {
	margin-left: 10%;
	margin-top: 40%;
}

#circleAb {
	margin-left: 27%;
	margin-top: 40%;
}

/*		EDUCATION		*/

#main_education {
	display: block;
	transition: margin-left .5s;
	padding: 16px;
}

#inner_education {
	display: block;
	transition: margin-left .5s;
	display: flex;
	justify-content: left;
	position: static;
	height: 100%;
	margin-top: 0px;
	width: 1200px;
	padding: 50px;
	vertical-align: middle;
}

.circleEducation {
	float: left;
	height: 150px;
	width: 150px;
	background-color: white;
	border-radius: 50%;
	border: solid 10px;
	display: inline-block;
	position: static;
	margin-left: 100px;
	z-index: 5;
}

#line_div_education {
	display: block;
	transition: margin-left .5s;
	display: flex;
	justify-content: left;
	position: static;
	height: 100%;
	width: 900px;
	vertical-align: middle;
}

#educ_line {
	border-left: 20px solid white;
	height: 100px;
	margin-left: 210px;
}

#p_edu {
	margin-left: 10%;
	font-size: 40px;
	display: flex;
	align-items: center;
	z-index: 3;
}

	#p_edu:hover {
		color: #41FF00;
	}